CREATE DATABASE QLDT_THUYTIEN

GO
USE QLDT_THUYTIEN

CREATE TABLE GIAOVIEN
(
	MAGV CHAR(5),
	HOTEN NVARCHAR(40),
	LUONG FLOAT,
	PHAI NCHAR(3),
	NGSINH DATETIME,
	DIACHI NVARCHAR(100),
	GVQLCM CHAR(5),
	MABM NCHAR(5),
	
	PRIMARY KEY (MAGV)
)

CREATE TABLE BOMON
(
	MABM NCHAR(5),
	TENBM NVARCHAR(40),
	PHONG CHAR(5),
	DIENTHOAI CHAR(12),
	TRUONGBM CHAR(5),
	MAKHOA CHAR(4),
	NGAYNHANCHUC DATETIME,
	
	PRIMARY KEY (MABM)
)

CREATE TABLE KHOA
(
	MAKHOA CHAR(4),
	TENKHOA NVARCHAR(40),
	NAMTL INT,
	PHONG CHAR(5),
	DIENTHOAI CHAR(12),
	TRUONGKHOA CHAR(5),
	NGAYNHANCHUC DATETIME,
	
	PRIMARY KEY (MAKHOA)
)

CREATE TABLE THAMGIADT
(
	MAGV CHAR (5),
	MADT CHAR (5),
	STT INT,
	PHUCAP FLOAT,
	KETQUA NVARCHAR (10),
	
	PRIMARY KEY (MAGV, MADT, STT)
)

CREATE TABLE CONGVIEC
(
	MADT CHAR (5),
	SOTT INT,
	TENCV NVARCHAR (50),
	NGAYBD DATE,
	NGAYKT DATE,
	
	PRIMARY KEY (MADT, SOTT)
)
--ALTER TABLE CONGVIEC ADD SOTT CHAR(3)

CREATE TABLE DETAI
(
	MADT CHAR (5),
	TENDT NVARCHAR (50),
	CAPQL NVARCHAR (10),
	KINHPHI FLOAT,
	NGAYBD DATE,
	NGAYKT DATE,
	MACD CHAR (10),
	GVCNDT CHAR (5),
	
	PRIMARY KEY (MADT)
)

CREATE TABLE CHUDE
(
	MACD CHAR (10),
	TENCD NVARCHAR (50),
	
	PRIMARY KEY (MACD)
)

CREATE TABLE NGUOITHAN
(
	MAGV CHAR (5),
	TEN NVARCHAR (50),
	NGSINH DATE,
	PHAI NCHAR (3) CHECK (PHAI IN(N'NAM',N'NỮ')),
	
	PRIMARY KEY (MAGV, TEN)
)

CREATE TABLE GV_DT
(
	MAGV CHAR (5),
	DIENTHOAI CHAR (12),
	
	PRIMARY KEY (MAGV, DIENTHOAI)
)

----------------------------------------TAỌ KHOÁ NGOẠI----------------------------------------------------------------
------------ GIAO VIEN
ALTER TABLE GIAOVIEN ADD CONSTRAINT FK_GIAOVIEN_GIAOVIEN FOREIGN KEY (GVQLCM) REFERENCES GIAOVIEN(MAGV)
ALTER TABLE GIAOVIEN ADD CONSTRAINT FK_GIAOVIEN_BOMON FOREIGN KEY (MABM) REFERENCES BOMON(MABM)


------------ BOMON
ALTER TABLE BOMON ADD CONSTRAINT FK_BOMON_KHOA FOREIGN KEY (MAKHOA) REFERENCES KHOA(MAKHOA)
ALTER TABLE BOMON ADD CONSTRAINT FK_BOMON_GIAOVIEN FOREIGN KEY (TRUONGBM) REFERENCES GIAOVIEN(MAGV)


------------ KHOA
ALTER TABLE KHOA ADD CONSTRAINT FK_KHOA_GIAOVIEN FOREIGN KEY (TRUONGKHOA) REFERENCES GIAOVIEN(MAGV)

------------THAMGIADT
ALTER TABLE THAMGIADT ADD CONSTRAINT FK_THAMGIADT_CONGVIEC FOREIGN KEY (MADT, STT) REFERENCES CONGVIEC(MADT, SOTT)
ALTER TABLE THAMGIADT ADD CONSTRAINT FK_THAMGIADT_GIAOVIEN FOREIGN KEY (MAGV) REFERENCES GIAOVIEN(MAGV)

-------------CONGVIEC
ALTER TABLE CONGVIEC ADD CONSTRAINT FK_CONGVIEC_DETAI FOREIGN KEY (MADT) REFERENCES DETAI(MADT)

-------------DETAI
ALTER TABLE DETAI ADD CONSTRAINT FK_DETAI_CHUDE FOREIGN KEY (MACD) REFERENCES CHUDE(MACD)
ALTER TABLE DETAI ADD CONSTRAINT FK_DETAI_GIAOVIEN FOREIGN KEY (GVCNDT) REFERENCES GIAOVIEN(MAGV)


-------------NGUOITHAN
ALTER TABLE NGUOITHAN ADD CONSTRAINT FK_NGUOITHAN_GIAOVIEN FOREIGN KEY (MAGV) REFERENCES GIAOVIEN(MAGV)

------------GV_DT
ALTER TABLE GV_DT ADD CONSTRAINT FK_GV_DT_GIAOVIEN FOREIGN KEY (MAGV) REFERENCES GIAOVIEN(MAGV)


------------------------------ INSERT DATA
-------- KHOA
INSERT INTO KHOA VALUES ('CNTT', N'Công nghệ thông tin', '1995', 'B11', '0838123456', NULL, '2005-02-20')
INSERT INTO KHOA VALUES ('HH', N'HOÁ HỌC', '1980', 'B41', '0838456456', NULL, '2001-10-15')
INSERT INTO KHOA VALUES ('SH', N'SINH HỌC', '1980', 'B31', '0838454545', NULL, '2000-10-11')

-------- BOMON
INSERT INTO BOMON VALUES ('CNTT', N'Công nghệ tri thức', 'B15', '0838126126', NULL, 'CNTT', NULL)
INSERT INTO BOMON VALUES ('HTTT', N'Hệ thống thông tin', 'B13', '0838125125', NULL, 'CNTT', '2004-09-20')
INSERT INTO BOMON VALUES ('HHC', N'Hoá hữu cơ', 'B44', '0838222222', NULL, 'HH', NULL)

-- error INSERT INTO BOMON VALUES ('CNTT', N'Công nghệ tri thức', 'B15', '0838126126', NULL, 'HH', NULL)

-------- GIAOVIEN
INSERT INTO GIAOVIEN VALUES ('001', N'Nguyễn Hoài An', 2000.0, N'Nam', '1973-02-15', N'25/3 Lạc Long Quân, Q.10, TP.HCM', NULL, N'MMT')
INSERT INTO GIAOVIEN VALUES ('002', N'Trần Trà Hương', 2500.0, N'Nữ', '1960-06-20', N'125 Trần Hưng Đạo, Q.1, TP.HCM', NULL, N'HTTT')
INSERT INTO GIAOVIEN VALUES ('003', N'Nguyễn Ngọc Ánh', 2200.0, N'Nữ', '1973-05-11', N'12/21 Võ Văn Ngân, Thủ Đức, TP.HCM', NULL, N'HTTT')


-----------CHUDE
INSERT INTO CHUDE VALUES ('NCPT',N'Nghiên cứu phát triển')
INSERT INTO CHUDE VALUES ('QLGD',N'Quản lý giáo dục')
INSERT INTO CHUDE VALUES ('UDCN',N'Ứng dụng công nghệ')

------------DETAI
INSERT INTO DETAI VALUES ('001',N'HTTT quản lý các trường ĐH',N'ĐHQG','20.0','2007-10-20','2008-10-20','QLGD','002')
INSERT INTO DETAI VALUES ('002',N'HTTT quản lý giáo dục cho một khoa',N'Trường','20.0','2000-10-12','2001-10-12','QLGD','002')
INSERT INTO DETAI VALUES ('003',N'nghiên cứu chế tạo sợi Nanô Platin',N'ĐHQG','300.0','2008-05-15','2010-05-15','NCPT','005')


-----------CONGVIEC
INSERT INTO CONGVIEC VALUES ('001', 1, N'khởi tạo và lập kế hoạch','2007-10-20','2008-12-20')
INSERT INTO CONGVIEC VALUES ('001', 2, N'xác định yêu cầu','2008-12-21','2008-03-21')
INSERT INTO CONGVIEC VALUES ('001', 3, N'phân tích hệ thống','2008-03-22','2008-05-22')


---------THAMGIADT
INSERT INTO THAMGIADT VALUES ('001','002', 1, 0.0,NULL )
INSERT INTO THAMGIADT VALUES ('001','002', 2, 2.0,NULL )
INSERT INTO THAMGIADT VALUES ('002','001', 4, 2.0,N'ĐẠT')


------------NGUOITHAN
INSERT INTO NGUOITHAN VALUES ('001',N'Hùng','1990-01-14',N'Nam')
INSERT INTO NGUOITHAN VALUES ('001',N'Thuỷ','1994-12-08',N'Nữ')
INSERT INTO NGUOITHAN VALUES ('003',N'Hà','1998-09-03',N'Nữ')

------------GV_DT
INSERT INTO GV_DT VALUES ('001','0838912112')
INSERT INTO GV_DT VALUES ('001','0903123123')
INSERT INTO GV_DT VALUES ('002','0913454545')
  
---------------------------------- UPDATE DATA
------- Khoa
UPDATE KHOA SET TRUONGKHOA = '002' WHERE MAKHOA = 'CNTT'
UPDATE KHOA SET TRUONGKHOA = '007' WHERE MAKHOA = 'HH'
UPDATE KHOA SET TRUONGKHOA = '004' WHERE MAKHOA = 'SH'
UPDATE KHOA SET TRUONGKHOA = '005' WHERE MAKHOA = 'VL'

-------- Bomon
UPDATE BOMON SET TRUONGBM = '002' WHERE MABM = 'HTTT'
UPDATE BOMON SET TRUONGBM = '007' WHERE MABM = 'HPT'
UPDATE BOMON SET TRUONGBM = '001' WHERE MABM = 'MMT'
UPDATE BOMON SET TRUONGBM = '005' WHERE MABM = N'VLƯD'
UPDATE BOMON SET TRUONGBM = '004' WHERE MABM = 'VS'

--------Giaovien
UPDATE GIAOVIEN SET GVQLCM = '002' WHERE MAGV = '003'
UPDATE GIAOVIEN SET GVQLCM = '004' WHERE MAGV = '006'
UPDATE GIAOVIEN SET GVQLCM = '007' WHERE MAGV = '008'
UPDATE GIAOVIEN SET GVQLCM = '001' WHERE MAGV = '009'
UPDATE GIAOVIEN SET GVQLCM = '007' WHERE MAGV = '010'
